{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="card" style="text-align: center; width: 18rem">
    <div class="card-body">
        {{ wtf.quick_form(form, button_map={'submit_button': 'success'}) }}
        <form method="POST" action="{{ url_for('heroe_edit', id_heroes=heroe.id_heroes|int) }}">
            <input type="submit" class="btn btn-secondary btn-block btn-sm" value="Изменить">
        </form>
        <form method="POST" action="{{ url_for('heroe_delete', id_heroes=heroe.id_heroes|int) }}">
            <input type="submit" class="btn btn-danger btn-block btn-sm" value="Удалить">
        </form>
    </div>
</div>
{% endblock %}

