<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('heroes_list') }}">Все герои</a>
      </li>


      {% if not current_user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="/login">Авторизация</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registration">Регистрация</a>
    </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('heroe_add') }}">Добавить</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Выйти</a>
    </li>
    {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>